# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
package-lock.json
yarn.lock

# testing
/coverage
*.lcov
.nyc_output

# next.js
/.next/
/out/

# production
/build
/dist
/generated

# misc
.DS_Store
*.pem
._*
Thumbs.db
.idea
.cache/
tmp/
temp/
.turbo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log

# env files (can opt-in for committing if needed)
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# emacs backup files
\#*
.\#*

/examples